/* The Convicts: Annabel Zhang, Alif Abdullah, Sophie Liu, Qina Liu (Mang, The Eagle In The Sand, Quacky, Nyx)
SoftDev
P04: Forged By Land
2022-05-24 */

body {
    text-align: center;
}
p {
    margin-top: 10px;
}