<!-- The Convicts: Annabel Zhang, Alif Abdullah, Sophie Liu, Qina Liu (Mang, The Eagle In The Sand, Quacky, Nyx)
SoftDev
P04: Forged By Land
2022-05-24 -->

<!DOCTYPE html>
<html>

{% extends "base.html" %}

{% block title %} Game {% endblock %}

{% block css %}
{% endblock %}

{% block body %}
<p> this is game</p>
<canvas id="canvas" width="960" height="540" onclick="hexClick(event)"></canvas>

<h3 id="turnPhase">Phase: Planning</h3>
<h3 id ="turnPlayer">Red's Turn</h3>
<button id="nextTurn" type="button" class="btn btn-info">Next</button>
<br><br>
<p id="gold"> Gold: 7</p>
<p id="goldMineShow">Gold Mines: 0</p>
<div id = "buildOptions">
    <!--<button id="goldMineBuy" type="button" class="btn btn-warning">Buy Gold Mine</button> -->
</div>

<script src="../static/js/structures.js"></script>
<script src="../static/js/canvas.js"></script>
<script src="../static/js/turn.js"></script>

{% endblock %}

</html>
