<!-- The Convicts: Annabel Zhang, Alif Abdullah, Sophie Liu, Qina Liu (Mang, The Eagle In The Sand, Quacky, Nyx)
SoftDev
P04: Forged By Land
2022-05-24 -->

<!DOCTYPE html>
<html>

{% extends "base.html" %}

{% block title %} Game {% endblock %}

{% block css %}
{% endblock %}

{% block body %}
<p> this is game</p>
<canvas id="canvas" width="960" height="540" onclick="hexCheck(event)"></canvas>
<script src="../static/js/structures.js"></script>
<script src="../static/js/canvas.js"></script>
<script src="../static/js/turn.js"></script>
{% endblock %}


</html>
