<!-- The Convicts: Annabel Zhang, Alif Abdullah, Sophie Liu, Qina Liu (Mang, The Eagle In The Sand, Quacky, Nyx)
SoftDev
P04: Forged By Land
2022-05-24 -->

<!DOCTYPE html>
<html>

{% extends "base.html" %}

{% block title %} Home {% endblock %}

{% block css %}
  <link rel="stylesheet" href="../static/css/home.css">
{% endblock %}

{% block body %}
<h1> Forged </h1>
<h2> in <div id="h2-part2">FIRE</div> </h2>
<div id="home-forms-flexbox">
<form action="/game">
  <button id="game-btn" type="submit">Go to game</button>
</form>
<br> <br>
<form action="/login">
  <button id="Login-btn" type="submit">Login</button>
</form>
</div>
{% endblock %}

</html>
